@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* For WebKit browsers */
::-webkit-scrollbar {
  width: 0; /* Hides the vertical scrollbar */
  height: 0; /* Hides the horizontal scrollbar */
}

html, body {
  margin: 0;
  background-color: black;
  overflow-x: hidden; /* Prevents horizontal scrolling */

}